@charset "UTF-8";

.goods-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2.5vw;
	margin-bottom: 5em;
}

.goods-list>* {
	display: grid;
	grid-template-columns: 0.4fr 1fr;
	grid-gap: 0.5vw;
	text-decoration: none;
	color: var(--color-text);

	padding: 0.3em;
	border: solid 1px transparent;
	border-radius: 6px;
	transition: all .3s linear 0s;
}

.goods-list>*:hover {
   border-color: #E6EAED;
}

.goods-list>*>img {
	display: block;
	max-width: 100%;
}

.goods-list .gray-text {
	margin-top: 0.7rem;
}

.goods-list small {
	display: block;
	color: #88919D;
	font-size: 0.8125rem;
	line-height: 0.9375rem;
	margin-bottom: 0.3rem;
}

@media (max-width: 1140px) {
	.goods-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 740px) {
	.goods-list {
		grid-template-columns: 1fr;
		grid-gap: 3.5vw;
	}
}
