AddDefaultCharset UTF-8
php_value default_charset UTF-8

RewriteEngine on
Options +FollowSymlinks -Indexes
RewriteBase /

RedirectMatch 404 /\.git
RedirectMatch 404 /\.gitignore

RewriteRule ^technology\.htm$ technology.php [L]

RewriteRule ^goods$ goods/ [R,L]
RewriteRule ^goods/$ goods.php [L]

RewriteRule ^goods/(.*)\.htm$ product.php?id=$1 [L]

